<ul id="header_menu" class="hlist">
<li><a href="{{ path('_riesel_default_index') }}">Riesel Data</a>
<ul>
<li><a href="{{ path('_riesel_display_list', {'min': 1, 'max': 300}) }}"><i>k</i> &lt; 300</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 301, 'max': 2000}) }}">300 &lt; <i>k</i> &lt; 2000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 2001, 'max': 4000}) }}">2000 &lt; <i>k</i> &lt; 4000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 4001, 'max': 6000}) }}">4000 &lt; <i>k</i> &lt; 6000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 6001, 'max': 8000}) }}">6000 &lt; <i>k</i> &lt; 8000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 8001, 'max': 10000}) }}">8000 &lt; <i>k</i> &lt; 10000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 10001, 'max': 100000}) }}">10<sup>4</sup> &lt; <i>k</i> &lt; 10<sup>5</sup></a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 100001, 'max': 1000000}) }}">10<sup>5</sup> &lt; <i>k</i> &lt; 10<sup>6</sup></a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 1000001, 'max': 10000000}) }}">10<sup>6</sup> &lt; <i>k</i> &lt; 10<sup>7</sup></a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 10000001, 'max': 100000000}) }}">10<sup>7</sup> &lt; <i>k</i> &lt; 10<sup>8</sup></a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 100000001, 'max': 1000000000}) }}">10<sup>8</sup> &lt; <i>k</i> &lt; 10<sup>9</sup></a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 1000000001, 'max': 10000000000}) }}">10<sup>9</sup> &lt; <i>k</i> &lt; 10<sup>10</sup></a></li>
</ul>
</li>
<li><a href="#">RPS</a>
<ul id="RPSMenu">
<li><a href="#">Overview</a></li>
<li><a href="#">Statistics</a></li>
<li id="RPSDrives"><a href="#">Drives</a>
<ul id="RPSDrivesMenu" class="submenu">
<li><a href="#">Overview</a></li>
</ul>
</li>
<li><a href="#"><i>k</i>-Efforts</a>
<ul id="RPSKEffortsMenu" class="submenu">
<li><a href="#"><i>k</i> = 5</a></li>
<li><a href="#"><i>k</i> = 15</a></li>
<li><a href="#"><i>k</i> = 17</a></li>
</ul>
</li>
</ul>
</li>
<li><a href="#">NPLB</a><ul>
<li><a href="#">Drives</a><ul>
<li><a href="#">Drive #1</a></li>
<li><a href="#">Drive #9</a><ul>
<li><a href="#">Section A</a></li>
<li><a href="#">Section B</a></li>
</ul></li>
</ul></li>
</ul></li>
</ul>

<script>
$( "#header_menu" ).menu({ position: { my: "left top", at: "left bottom" } });
</script>
