{% extends "RPPDbRieselBundle::base.html.twig" %}
{% import "RPPDbRieselBundle::fancy.html.twig" as fancyMacros %}

{% block title %}
{{ k.num }}*2^n-1
{% endblock title %}

{% block header %}
{{ k.num }}&middot;2<sup><i>n</i></sup>-1
{% endblock header %}

{% block content %}
<p><span style="text-align: left; width: 50%"><a href="{{ path('_riesel_display_k', {'k': previous}) }}">{{ previous }}</a></span><span style="text-align: right; float: right; width: 50%;"><a href="{{ path('_riesel_display_k', {'k': next}) }}">{{ next }}</a></span></p>
<p><a href="{{ path('_riesel_edit_k', {'k': k.id}) }}">[Edit]</a></p>
<table class="prime-list">
<thead>
<tr>
<th><i>k</i></th>
<th>Reserved<br>Last editor</th>
<th>Last Update</th>
<th>#<i>n</i></th>
<th>Nash weight</th>
<th>max <i>n</i>/<br>range tested</th>
<th>{{ k.num }}&middot;2<sup><i>n</i></sup>-1 is prime for the following <i>n</i>'s</th>
</tr>
</thead>
<tbody>
{{ render_esi(controller('RPPDbRieselBundle:Display:kdetail', {
        'k': k.id
    })) }}
</tbody>
</table>

<h2>Prime data</h2>

<table id="prime-details" class="table1">
<thead>
<tr>
<th>#</th>
<th><i>n</i></th>
<th>Prime Pages entry</th>
<th>Woodall</th>
<th>Twin</th>
<th>Sophie Germain</th>
<th>Comment(s)</th>
<th>Proven</th>
<th>Primality tested by</th>
<th>Twin tested by</th>
<th>Found by</th>
<th>Found on</th>
</tr>
</thead>
<tbody>
{% for prime in k.primes %}
<tr>
<th class="prime-index" scope="row">{{ loop.index }}</th>
<td class="n-cell">{{ prime.n }}</td>
<td class="prime-pages-cell">{% if prime.utm %}<a href="javascript:utm({{ prime.utm }})">{{ prime.utm }}</a>{% endif %}</td>
<td class="woodall-cell">{% if prime.woodall %}{{ fancyMacros.woodallDisplay(prime.woodall) }}{% endif %}</td>
<td class="twin-cell">{{ prime.isTwin ? "Yes" }}</td>
<td class="sophie-germain-cell">{{ prime.isSG ? "Yes" }}</td>
<td class="comments-cell">{%- if prime.comments -%}
<ul class='comments-list'>{%- for comment in prime.comments -%}
<li>{%- if comment.commentType -%}
{{ fancyMacros.commentDisplay(comment) }}
{%- else -%}
{{ comment }}
{%- endif -%}</li>
{%- endfor -%}</ul>
{%- endif -%}</td>
{% if prime.utm %}
<td class="proven-by-prime-pages" colspan="2">Prime Pages</td>
{% else %}
<td class="proven-cell">{{ prime.isProvenPrime ? "Yes" }}</td>
<td class="prime-test-cell">{% if prime.testedPrime %}<a href="{{ path('_riesel_display_program', {'id': prime.testedPrime.id}) }}">{{ prime.testedPrime }}</a>{% else %}N/A{% endif %}</td>
{% endif %}
<td class="twin-test-cell">{% if prime.isTwin %}{% if prime.testedTwin %}<a href="{{ path('_riesel_display_program', {'id': prime.testedTwin.id}) }}">{{ prime.testedTwin }}</a>{% else %}N/A{% endif %}{% endif %}</td>
<td class="found-by-cell">{% if prime.foundBy %}<a href="{{ path('_riesel_display_contributor', {'id': prime.foundBy.id}) }}">{{ prime.foundBy.name }}</a>{% endif %}</td>
<td class="found-date-cell">{{ prime.foundOn is empty ? "" : prime.foundOnString }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
