{% extends "RPPDbRieselBundle::base.html.twig" %}

{% block title %}
{{ k.num }}*2^n-1
{% endblock title %}

{% block header %}
{{ k.num }}&middot;2<sup><i>n</i></sup>-1
{% endblock header %}

{% block content %}
<p><span style="text-align: left; width: 50%"><a href="{{ path('_riesel_display_k', {'k': previous.num}) }}">{{ previous.num }}</a></span><span style="text-align: right; float: right; width: 50%;"><a href="{{ path('_riesel_display_k', {'k': next.num}) }}">{{ next.num }}</a></span></p>
<p><a href="{{ path('_riesel_edit_k', {'k': k.id}) }}">[Edit]</a></p>
<table class="table1">
<thead>
<tr>
<th><i>k</i></th>
<th>Reserved<br>Last editor</th>
<th>Last Update</th>
<th>#<i>n</i></th>
<th>Nash weight</th>
<th>max <i>n</i>/<br>range tested</th>
<th>{{ k.num }}&middot;2<sup><i>n</i></sup>-1 is prime for the following <i>n</i>'s</th>
</tr>
</thead>
<tbody>
{{ render_esi(controller('RPPDbRieselBundle:Display:kdetail', {
        'k': k.id
    })) }}
</tbody>
</table>

<h2>Prime data</h2>

<table class="table1">
<thead>
<tr>
<th>#</th>
<th><i>n</i></th>
<th>Prime Pages entry</th>
<th>Woodall</th>
<th>Twin</th>
<th>Sophie Germain</th>
<th>Comment</th>
<th>Proven</th>
<th>Primality tested by</th>
<th>Twin tested by</th>
<th>Found by</th>
<th>Found on</th>
<th>Near Woodall</th>
</tr>
</thead>
<tbody>
{% for prime in k.primes %}
<tr>
<th scope="row">{{ loop.index }}</th>
<td>{{ prime.n }}</td>
<td>{% if prime.utm %}<a href="javascript:utm({{ prime.utm }})">{{ prime.utm }}</a>{% endif %}</td>
<td>{% if prime.woodall %}{{ prime.woodall.styledString|raw }}{% endif %}</td>
<td>{{ prime.isTwin ? "Yes" : "" }}</td>
<td>{{ prime.isSG ? "Yes" : "" }}</td>
<td>{{ prime.comment|raw }}</td>
{% if prime.utm %}
<td colspan="2">Prime Pages</td>
{% else %}
<td>{{ prime.isProvenPrime ? "Yes" : "" }}</td>
<td>{% if prime.testedPrime %}<a href="{{ path('_riesel_display_program', {'id': prime.testedPrime.id}) }}">{{ prime.testedPrime }}</a>{% else %}N/A{% endif %}</td>
{% endif %}
<td>{% if prime.isTwin %}{% if prime.testedTwin %}<a href="{{ path('_riesel_display_program', {'id': prime.testedTwin.id}) }}">{{ prime.testedTwin }}</a>{% else %}N/A{% endif %}{% endif %}</td>
<td>{% if prime.foundBy %}<a href="{{ path('_riesel_display_contributor', {'id': prime.foundBy.id}) }}">{{ prime.foundBy.name }}</a>{% endif %}</td>
<td>{{ prime.foundOn is empty ? "" : prime.foundOnString }}</td>
<td>{% if prime.nearWoodall %}{{ prime.nearWoodall.styledString|raw }}{% endif %}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
