<tr class="k-row {% if k.coveringSet -%} has-covering-set {%- elseif k.reserved == 'res' -%} reserved-individual {%- elseif k.reserved == 'prj' -%} reserved-project {%- else -%} not-reserved {%- endif %}">
<th scope="row" class="k-cell {% if k.is2805k -%} k2805 {%- elseif k.is2145k -%} k2145 {%- elseif k.is15k -%} k15 {%- elseif k.nashWeight < 1000 and not k.coveringSet -%} low {%- endif -%}"><a href="{{ path('_riesel_display_k', {'k': k.num}) }}">{{ k.value|raw }}</a>{% if k.is2805k %}<br><span class="k2805">({{ k.is2805k }})</span>{% endif %}{% if k.is2145k %}<br><span class="k2145">({{ k.is2145k }})</span>{% endif %}{% if k.is15k %}<br><span class="k15">({{ k.is15k }})</span>{% endif %}</th>
<td class="reservation-cell">{{ k.reservedBy|raw }}</td>
<td class="updated-cell">{{ k.lastUpdate is empty ? "" : k.lastUpdate|date("Y-m-d") }}</td>
<td class="prime-count-cell">{{ k.primes|length }}</td>
<td class="nash-cell">{{ k.nashWeight }}</td>
<td class="ranges-cell">
<ul class="ranges-list">
{% for range in workRanges -%}
<li>
{%- if range.end == -1 -%}
?
{%- else -%}
{%- if range.start > 1 -%}
{% if range.start < 5000 %}{{ range.start }}{% elseif range.start < 1000000 %}{{ range.start // 1000 }}k{% else %}{{ (range.start / 1000000)|round(3, 'floor') }}M{% endif %}–
{%- endif -%}
{% if range.end < 5000 %}{{ range.end }}{% elseif range.end < 1000000 %}{{ range.end // 1000 }}k{% else %}{{ (range.end / 1000000)|round(3, 'floor') }}M{% endif %}</li>
</li>
{%- endif -%}
{%- endfor %}
</ul>
</td>
<td class="primes-cell">
{%- if k.coveringSet -%}
Covering set = {{ k.coveringSet }}
{%- else -%}
{%- for prime in before -%}
{{ include('RPPDbRieselBundle::Display/prime.html.twig') }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
{% if separator %} (...) {% endif %}
{%- for prime in after -%}
{{ include('RPPDbRieselBundle::Display/prime.html.twig') }}{% if not loop.last %}, {% endif %}
{%- endfor -%}
{%- endif -%}
</td>
</tr>
