{% extends "RPPDbRieselBundle::base.html.twig" %}
{% import "RPPDbRieselBundle::fancy.html.twig" as fancyMacros %}

{% block title %}
Woodall and Near Woodall primes
{% endblock title %}

{% block header %}
Woodall and Near Woodall primes
{% endblock header %}

{% block content %}

<h2>Woodall Primes</h2>
<table class="table1">
<thead>
<tr>
<th>No.</th>
<th><i>n</i></th>
<th># digits</th>
<th>Normalized form</th>
<th>Finder</th>
<th>Date</th>
</tr>
</thead>
<tbody>
{% for prime in woodall %}
<tr>
<th scope="row" class="index-header"><a href="{{ path('_riesel_edit_woodall', {'id': prime.id}) }}" title="Edit this Woodall prime">{{ loop.index }}</a></th>
<td class="n-cell">{{ prime.n }}</td>
<td class="digits-cell">{{ prime.digits }}</td>
<td class="canonical-cell"><a href="{{ path('_riesel_display_k', {'k': prime.prime.rieselK.num}) }}">{{ fancyMacros.primeDisplay(prime.prime) }}</a></td>
<td class="found-by-cell">{% if prime.prime.foundBy %}<a href="{{ path('_riesel_display_contributor', {'id': prime.prime.foundBy.id}) }}">{{ prime.prime.foundBy.name }}</a>{% endif %}</td>
<td class="found-date-cell">{{ prime.prime.foundOn is empty ? "" : prime.prime.foundOnString }}</td>
</tr>
{% endfor %}
</tbody>
</table>



<h2>Near Woodall primes (form (<i>n</i>+1)·2<sup><i>n</i></sup>-1)</h2>
<table class="table1">
<thead>
<tr>
<th>No.</th>
<th><i>n</i></th>
<th># digits</th>
<th>Normalized form</th>
<th>Finder</th>
<th>Date</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row"><a href="{{ path('_riesel_edit_nearwoodall', {'id': 1}) }}" title="Edit this near Woodall prime">1</a></th>
<td>1</td>
<td>1</td>
<td><a href="{{ path('_riesel_display_k', {'k': 1}) }}">2<sup>2</sup>-1</a></td>
<td><a href="{{ path('_riesel_display_contributor', {'id': 7}) }}">Unknown</a></td>
<td></td>
</tr>
{% for prime in plus %}
<tr>
<th scope="row" class="index-header"><a href="{{ path('_riesel_edit_nearwoodall', {'id': prime.id}) }}" title="Edit this near Woodall prime">{{ loop.index + 1 }}</a></th>
<td class="n-cell">{{ prime.n }}</td>
<td class="digits-cell">{{ prime.digits }}</td>
<td class="canonical-cell"><a href="{{ path('_riesel_display_k', {'k': prime.prime.rieselK.num}) }}">{{ fancyMacros.primeDisplay(prime.prime) }}</a></td>
<td class="found-by-cell">{% if prime.prime.foundBy %}<a href="{{ path('_riesel_display_contributor', {'id': prime.prime.foundBy.id}) }}">{{ prime.prime.foundBy.name }}</a>{% endif %}</td>
<td class="found-date-cell">{{ prime.prime.foundOn is empty ? "" : prime.prime.foundOnString }}</td>
</tr>
{% endfor %}
</tbody>
</table>



<h2>Near Woodall primes (form (<i>n</i>-1)·2<sup><i>n</i></sup>-1)</h2>
<table class="table1">
<thead>
<tr>
<th>No.</th>
<th><i>n</i></th>
<th># digits</th>
<th>Normalized form</th>
<th>Finder</th>
<th>Date</th>
</tr>
</thead>
<tbody>
<tr>
<th scope="row"><a href="{{ path('_riesel_edit_nearwoodall', {'id': 1}) }}" title="Edit this near Woodall prime">1</a></th>
<td>2</td>
<td>1</td>
<td><a href="{{ path('_riesel_display_k', {'k': 1}) }}">2<sup>2</sup>-1</a></td>
<td><a href="{{ path('_riesel_display_contributor', {'id': 7}) }}">Unknown</a></td>
<td></td>
</tr>
{% for prime in minus %}
<tr>
<th scope="row" class="index-header"><a href="{{ path('_riesel_edit_nearwoodall', {'id': prime.id}) }}" title="Edit this near Woodall prime">{{ loop.index + 1 }}</a></th>
<td class="n-cell">{{ prime.n }}</td>
<td class="digits-cell">{{ prime.digits }}</td>
<td class="canonical-cell"><a href="{{ path('_riesel_display_k', {'k': prime.prime.rieselK.num}) }}">{{ fancyMacros.primeDisplay(prime.prime) }}</a></td>
<td class="found-by-cell">{% if prime.prime.foundBy %}<a href="{{ path('_riesel_display_contributor', {'id': prime.prime.foundBy.id}) }}">{{ prime.prime.foundBy.name }}</a>{% endif %}</td>
<td class="found-date-cell">{{ prime.prime.foundOn is empty ? "" : prime.prime.foundOnString }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock content %}
