{% extends 'RPPDbRieselBundle::base.html.twig' %}

{% block title %}
Riesel and Proth Prime Database - Riesel Primes
{% endblock title %}

{% block header %}
Riesel Primes (<i>k</i>&middot;2<sup><i>n</i></sup>-1 prime)
{% endblock header %}

{% block content %}
This site is under construction.
<h2>View tools</h2>
<h3>Full prime lists</h3>
<ul>
<li><a href="{{ path('_riesel_display_list', {'min': 1, 'max': 100}) }}">1–100</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 1, 'max': 300}) }}">1–300</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 301, 'max': 2000}) }}">301–2000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 2001, 'max': 4000}) }}">2001–4000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 4001, 'max': 6000}) }}">4001–6000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 6001, 'max': 8000}) }}">6001–8000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 8001, 'max': 10000}) }}">8001–10000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 10001, 'max': 100000}) }}">10001–100000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 100001, 'max': 1000000}) }}">100001–1000000</a></li>
<li><a href="{{ path('_riesel_display_list', {'min': 1000001, 'max': 100000000}) }}">1000001–100000000</a></li>
</ul>
<h3>Special prime lists</h3>
<ul>
<li><a href="{{ path('_riesel_display_woodall') }}">Woodall and near Woodall primes</a></li>
<li><a href="{{ path('_riesel_display_firsttwin') }}">First Twin <i>k</i></a></li>
</ul>
<h2>Edit tools</h2>
<ul>
<li><a href="{{ path('_riesel_add_k') }}">Add <i>k</i></a></li>
<li><a href="{{ path('_riesel_add_program') }}">Add program</a></li>
<li><a href="{{ path('_riesel_add_contributor') }}">Add contributor</a></li>
<li><a href="{{ path('_riesel_add_nearwoodall') }}">Add near Woodall prime</a></li>
<li><a href="{{ path('_riesel_add_woodall') }}">Add Woodall prime</a></li>
</ul>
{% endblock content %}
